# Automatic apply is allowed only on the explicitly selected canary router.
HOME_NET_UPDATE_MODE='check'
HOME_NET_UPDATE_CANARY='0'
HOME_NET_UPDATE_INTERVAL='86400'
HOME_NET_UPDATE_JITTER='21600'
HOME_NET_UPDATE_STARTUP_DELAY='300'
HOME_NET_UPDATE_COMMAND_TIMEOUT='120'
HOME_NET_UPDATE_HEALTH_TIMEOUT='600'
HOME_NET_UPDATE_HEALTH_RETRY_INTERVAL='10'
